/* variable */
:root{
    --primary: #FFFFFF;
    --secondary: #db1f57;
}

/* reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}







/* base style */
body{
    background: var(--primary);
    overflow-x: hidden;
    font-family: sans-serif;
}
.button{
    background: none;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block;
    cursor: pointer;
}
.button:hover{
    color: #222;
    background: var(--secondary);
}

input,textarea{
background: rgba(246, 219, 229, 0.554);
padding: 10px 16px;
border-radius: 20px;
border: 2px solid var(--secondary);
color: #222121;

}
.bg-img {
    position: absolute;
    max-width: 100%;
    z-index: -150;
}
.bg-text{
    position: absolute;
    font-size: 90px;
    z-index: -150;
    color: #f2f2f2;
}
.bg-text-mv{
    position: absolute;
    font-size: 100px;
    z-index: -150;
    color: #f2f2f2;
    right: 0;
    left: 0;

}
/* fonts  */
@font-face{
    
}

h1,h2,h3,h4{
    
    font-weight: normal;
}
p,a,li{
    color: rgb(44, 2, 12);
}
h1,h3{
    font-size: 1.2em;
}
h2{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}
.leading{
    font-size: 1.1em;
}
.myname{
    color: var(--secondary);
}
/* mobile style  */
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;

}
.site-nav{
    margin: 0 20px;
}
.site-nav ul{
    display: none;
}
.site-nav h1{
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--secondary);
}

#welcome{

     padding: 0 20px 20px 20px;
}

.welcome-text{
    grid-column: 1/5;
}
.welcome-img{
    grid-column: 5/9;
}

.welcome-img img {
    width: 100%;
    position: relative;
}


.welcome-text a{
    margin: 20px 0;
}

#portfolio{
    padding: 30px 20px;
    /* background: var(--secondary); */
}

#portfolio h3{
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    color: #000;
}

.projects a{
    grid-column: 1/9;
    margin: 20px 0;
    display: flex;
}

.projects a *{
    margin:  0 20px;
    max-width: 60%;
    align-self: center;
}

.projects h4{
    color: #db1f57;
}
.skills{
    position: absolute;
    font-size: 100px;
    z-index: -5;
    color: #f2f2f2;
     }
#skills{
    padding: 30px 20px;
    background: var(--primary);
}
#skills h3{
    text-align: center;
    z-index: 10;
}
#skills ul{
    margin: 40px 0;
}
#skills li{
    
    margin: 0 10px;
    grid-column: span 2;
    text-align: center;
   

}
#skills img{
    width: 50%;
}
#skills h4{
    color: #db1f57;
    font-size: 12px;
}

#contact{
    padding: 30px 20px;
    
}

#contact h3, #contact p{
    text-align: center;
    margin-bottom: 0;

}
#contact form{
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
#contact input, #contact textarea{
    width: 100%;
    margin: 10px 0;
   
}
#contact .button{
    margin-top: 10px;
}
footer{
    padding: 30px 20px;
    background: var(--secondary);
    background-size: cover;
}
footer .copyright{   
    grid-column: 4/8;
    font-size: 0.9em;
}



/* small tablet styles  */

@media screen and (min-width: 620px){

    .welcome-text{
        grid-column: 1/4;
    }
    .welcome-img{
        grid-column: 4/9;
    }
    .welcome-img img {
        width: 100%;
    }
    .bg-img {
        position: absolute;
        width: 105%;
        z-index: -150;
    }
    .bg-text-mv{
        position: absolute;
        font-size: 150px;
        z-index: -150;
        color: #f2f2f2;
    }
    .projects{
        margin-top: 40px;
    }
    .projects a{
        grid-column: span 4;
        display: block;
    }
    .projects a *{
       
        max-width: 60%;
        margin: 10px 20%;
    }
    .projects h4{
        text-align: center;
    }
    #skills{
        padding: 30px 10px;
    }
    footer{
        background-size: 20%;
    }
}

/* large talets and laptop style  */

@media screen and (min-width: 960px){

    body{
        font-size: 20px;
    }
    .grid{
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .welcome-text{
        grid-column: 1/4;
        margin: 0 20px;
       align-self: center;
    }
   
    #welcome{
        padding-bottom: 40px;
    }
    .bg-text-mv{
        position: absolute;
        font-size: 200px;
        z-index: -150;
        color: #f2f2f2;
    }
   
    .site-nav ul{
        display: flex;
        grid-column: 6/9;
        justify-content: space-around;
        align-self: center;

    }
    .site-nav li{
        margin-left: 20px;
    }
    .site-nav h1{
        grid-column: 1/3;
        margin-left: 30px;
       
    }
    .projects{
        margin-top: 40px;
    }
    .projects a{
        grid-column: span 2;
        display: block;
    }
    .projects a *{
       
        max-width: 80%;
        margin: 10px 10%;
    }
    .projects h4{
        text-align: center;
    }
    .skills{
            position: absolute;
            font-size: 130px;
            color: #f2f2f2;
            text-align: center;   
    }
    #skills{
        padding: 30px 20px;
    }
    #skills ul{
        margin: 40px auto;
    }
    #skills li{
        grid-column: span 2;
    }
    footer{
        padding: 40px 20px;
        background-size: 25%;
    }
    
}

/* desktop style  */

@media screen and (min-width: 1200px){
    body{
        font-size: 24px;
    }
    #welcome, #portfolio, #skills{
        padding:  90px 0;
        height: 100vh;
        
    }
    #contact {
        padding:  90px 0;
 
    }
    .welcome-text{
        margin-top: -150px;
    }
 
    .welcome-img{
        grid-column: 5/9;
    }
    .welcome-img img {
        width: 130%;
    }
    .projects a *{
        max-width: 100%;
        margin: 30px 0;
    }
    .bg-text-mv{
        position: absolute;
        font-size: 250px;
        z-index: -150;
        color: #f2f2f2;
    }
    #skills img *{
        max-width: 100%;
        height: auto;
    }
    .bg-text{
        position: absolute;
        font-size: 180px;
        z-index: -150;
        color: #f2f2f2;
        
    }
    .skills{
        position: absolute;
        font-size: 200px;
        z-index: 1;
        color: #f2f2f2;
         }
    .site-nav h1{
        grid-column: 1/4;
        grid-row: 1;
        padding-bottom: 10px;
        border-bottom: 3px solid var(--secondary);
    }
    #contact {
        margin-top: 300px;
        padding-top: 100px;
    }
    #contact form{
        width: 100%;
        max-width: 600px;
        margin: 40px auto;
        text-align: center;
        
    }
    #contact input, #contact textarea{
        width: 100%;
        margin: 10px 0;
       
    }

}
